<div class="page-header">
  <h1 align="center">Buy a Raffle Ticket</h1>
  <h5>THIS RAFFLE IS NOT ACTIVE</h5>
  <h5>You can try to buy a ticket, but it wont do anything.</h5>
</div>
<p>* required</p>

<%= render 'form' %>
