<h1>Recipt#recipt_wepay</h1>

<p>
  Hello <%= @ticket.first_name %>, Thanks for buying a raffle ticket.
</p>

<% if @ticket.number_of_tickets == 1 %>
  <p>Your ticket number is <%= @ticket.id %></p>
<% else %>
  <p>You have tickets <%= @ticket.id %> - <%= @ticket.number_of_tickets + @ticket.id - 1 %></p>
<% end %>
